extends layout

block datos
  h2(style='color:blue;') Ingrese Producto
  form(action='/productos' method='POST')
    .form-group
      label(for='title')
        b Nombre
      input#title.form-control(type='text' name='title')
    .form-group
      label(for='price')
        b Precio
      input#price.form-control(type='number' name='price')
    .form-group
      label(for='thumbnail')
        b Foto URL
      input#thumbnail.form-control(type='link' name='thumbnail')
    button.btn.btn-success.mt-3.mb-5 Enviar
  form(method='get' action='/productos')
    button(type='submit') Lista de productos